<h1>Song Title: <%=  @song.title %></h1>
<h1>Artist: <%=  @song.artist.full_name %></h1>
<h1>Age: <%=  @song.artist.age %></h1>




<button type="button" class="btn btn-danger"><a><%= link_to 'Delete Song', billboard_song_path(@song.billboard_id, @song), method: :delete %></a></button>
<button type="button" class="btn btn-primary"><a><%= link_to 'Edit Song', edit_billboard_song_path(@song.billboard_id, @song)%></a></button>

