<h1><%= @billboard.billboard_name%></h1>

<button type="button" class="btn btn-danger"><a><%= link_to 'Delete Billboard', @billboard, method: :delete %></a></button>
<button type="button" class="btn btn-primary"><a><%= link_to 'Edit Billboard', edit_billboard_path(@billboard)%></a></button>

<h2>Songs</h2>

<p><%@billboard.songs.length <= 0 ? "No Songs" : ''%></p>
<ul>
  <% @billboard.songs.each do |song| %>
  <li class = "show">
     <%= link_to song.title, billboard_song_path(@billboard, song.id) %>
     <%= link_to 'Show Artist', billboard_song_path(@billboard, song.id) %>
  </li>

  <% end%>
</ul>

